<div class="w-full flex justify-between border-b border-gray-200 h-[55px] pl-6 pr-16 lg:pr-24 fixed top-0 bg-white z-40">
    <div class="text-gray-700 flex items-center">
      <span class="font-medium">Personality Based Movie Recommender System</span>
    </div>
    <div class="text-gray-700 flex items-center space-x-6">
      <div class="grid py-4">
        <div>User</div>
        <div class="text-[10px] text-gray-200">user_id</div>
      </div>
      <div>
        <div class=" material-icons h-10 w-10 border border-gray-400 rounded-full bg-gray-200 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">person
        </div>
      </div>  
    </div>
</div>


