<div class="w-[60px] bg-gray-300 h-full fixed top-0 z-50 mr-[60px]">
    <div class="bg-black w-full p-0 flex items-center justify-center h-[55px]">
        <a href="home" class="text-white material-icons relative h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
          menu
        </a>
    </div>
    <div class="flex flex-row items-center">
    <a href="/" class="material-icons relative h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
        dashboard
    </a>
    
</div>

